//Sass reads the number on the left, so 
$var : 10 * 5px;
// will throw an error,
$var: 10px * 5px; 
//will output to 50px, but also
$var: 10px * 5;
//will successfully output to 50px

//Built-in operation functions//
//Rounding and Percentages//
$var: 5/3;
//outputs to 1.66666667
$var:round(5/3);
//rounds to nearest, outputs to 2
$var:ceil(5/3);
//rounds up
$var:floor(5/3);
//rounds down
$var:percentage(5/3);
//outputs 16.666% or whatever it actually is :)